body {
  background-color: gray; /* If you want to apply it to the full page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(161, 158, 158); /* For the grid container only */
  width: 960px;   /* Ensure the container has a set size */
  height: 960px;  /* If necessary, set a height */
  margin: 0 auto; /* Center the container */

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 10px;
}

button {
  width: 50px;
  height: 25px;
}